* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.body {
    /* width: 100%;
    height: 100vh; */
    overflow: hidden;
}
header {
    position: fixed;
    height: fit-content;
    width: calc(100% - 15px);
    /* SCROLL BAR UNCOVERED BY THIS MANIPULATED WIDTH */
    background: black;
    color: white;
    font-weight: 100;
    z-index: 1;
}
header div {
    /* border: 1px dashed red; */
    padding-left: 4vw;
}
.container {
    position: relative;
    width: 100%;
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
    overflow-y: scroll;
}
.item {
    scroll-snap-align: center;
    background-color: orange;
    opacity: 0.9;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item:nth-child(odd) {
    background-color: gray;
}
.item:nth-child(even) {
    background-color: white;
}

#page-1 {
    display: flex;
    flex-direction: column;
}
#page-1 .title {
    font-size: 1.5rem;
    width: calc(100vw * 0.8);
    padding: 0 1vw;
    color: white;
    /* border: 1px dashed red; */
}
.item .bgImg {
    position: relative;
    height: calc(52.6vw * 0.8);
    /* height is calculated from x-y dimension of original image source. */
    margin-top: 3.5vh; 
     /* 8.5vh =  header height 3.5vh +  */
    width: calc(100vw * 0.8);
    background: url(full-architecture-simplified-v5.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    border: 2px solid black;    
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8), 0px 0px 30px rgba(0, 0, 0, 0.6), 0px 0px 60px rgba(0, 0, 0, 0.4), 0px 0px 80px rgba(0, 0, 0, 0.2);
} 
/* img {
    object-fit: fill;
} */
.footer-btn {
    position: absolute;
    bottom: calc(-100vh * var(--i) + 2vh);
    right: 2vh;
    /* border: 1px dashed red; */
    transition: 0.5s;
}
.footer-btn:hover {
    letter-spacing: 1px;
    background: black;
    /* animation: vibratingY 1s linear forwards; */
}
/* @keyframes vibratingY {
    0% {
        transform: translateY(3px);
    }
    33% {
        transform: translateY(0px);
    }
    66% {
        transform: translateY(3px);
    }
    100% {
        transform: translateY(0px);
    }
} */
#page-7 .footer-btn a,
#page-5 .footer-btn a,
#page-3 .footer-btn a,
#page-1 .footer-btn a{
    text-decoration: none;
    color: white;
}
#page-8 .footer-btn a,
#page-6 .footer-btn a,
#page-4 .footer-btn a,
#page-2 .footer-btn a{
    text-decoration: none;
    color: gray;
}